<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="./img/bckweathe.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

    <!--Create a form tag to create a form-->
        <form> 
            <input placeholder="Location"> <!--Create an input, it's to show what the user need to put in-->
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="./js/app.js"></script>
</body>

</html>